@charset utf-8;

body {
font-family:brandon_grotesque_regularRg;
}

header {
background:url(header-bg.jpg);
position:relative;
z-index:999;
}

.home-slider-style,.bx-wrapper {
border:solid 13px #000;
border-left:0;
border-right:0;
}

.container {
max-width:1100px;
}

.outerwidth {
max-width:1200px;
}

#top-bar {
min-height:40px;
background:#000;
display:table;
width:100%;
font-family:helvetica!important;
}

#top-bar p {
vertical-align:middle;
height:40px;
display:table-cell;
color:rgba(255,255,255,0.6);
font-family:brandon_grotesquebold;
font-size:.9em;
margin:0;
}

nav#cart-items li {
height:40px;
vertical-align:middle;
display:table-cell;
font-family:brandon_grotesquebold;
font-size:1em;
text-align:center;
padding:0 20px;
}

.navbar-default {
background-color:transparent;
font-family:brandon_grotesquebold;
font-size:1em!important;
min-height:100px;
margin-top:0;
border:0;
color:#fff;
}

.navbar-header .navbar-brand {
height:100px;
vertical-align:middle;
display:table-cell;
float:none;
}

.navbar-default .navbar-nav > li {
height:100px;
display:table-cell;
vertical-align:middle;
float:none;
padding:0 15px;
}

.navbar-default .navbar-nav > li > a {
float:none;
color:#fff;
text-transform:uppercase;
z-index:9991;
margin:0 5px;
}

.navbar-default .navbar-nav > li:last-child a {
margin-right:0;
}

.nav > li > a {
padding:0!important;
}

.navbar-default .navbar-nav > li > a.current,.navbar-default .navbar-nav > li:hover a {
border-bottom:solid 1px #fff;
color:#fff;
}

.dropdown-menu {
background:#fff;
color:#fff;
font-weight:400;
font-family:Raleway, sans-serif;
right:-1px!important;
min-width:485px!important;
width:485px!important;
border:solid 1px #d7d7d7!important;
margin-top:0!important;
}

.dropdown-menu > li > a {
display:block;
font-family:Raleway, sans-serif;
font-size:14px;
color:rgba(255,255,255,0.6);
border-top:solid 1px rgba(255,255,255,0.15);
padding:23px 36px 23px 26px;
}

.dropdown-menu > li:hover > a {
color:#fff;
background-color:transparent;
}

#header-button .button {
background:#262626;
color:#fff;
box-shadow:none;
border-radius:0;
margin-top:55%;
border:0;
width:165px;
line-height:45px;
height:45px;
font-family:brandon_grotesque_regularRg;
font-weight:400;
font-size:1.05em;
}

.overlay-collection {
position:absolute;
width:100%;
text-align:center;
color:#fff;
text-transform:uppercase;
overflow:hidden;
z-index:200;
}

.blow-reg {
position:relative;
z-index:100;
}

.collection-text {
position:absolute;
background-color:rgba(0,0,0,0.8);
vertical-align:middle;
float:none;
width:100%;
overflow:hidden;
opacity:0;
transition:opacity .3s linear;
text-align:center;
margin:auto;
}

.collection-text h3 {
font-family:brandon_grotesqueblack;
color:#fff;
font-size:3em;
text-transform:uppercase;
margin:0;
padding:0;
}

.bigfont {
font-size:4em!important;
}

.smallfont {
font-size:1.8em!important;
font-weight:400!important;
}

.boder-bottom {
height:1px;
background:#fff;
width:40%;
display:block;
float:none;
margin:5px auto!important;
}

.collection-text span {
font-family:brandon_grotesque_regularRg;
font-size:1.5em;
text-align:center;
color:#fff;
margin:0;
padding:0;
}

.coll {
display:table-cell;
vertical-align:middle;
float:none;
width:100%;
overflow:hidden;
margin:auto;
}

.shop-now {
transition:all .3s;
background-color:transparent;
color:#fff;
font-family:brandon_grotesquebold;
border-radius:0;
text-transform:uppercase;
font-size:.8em;
border:solid 1px #fff;
margin:25px 0;
}

.collection-text .shop-now {
margin:8px 0 0;
}

.shop-now:hover {
background:#000;
color:#fff;
}

#featured-products {
text-align:center;
text-transform:uppercase;
font-size:12px;
position:relative;
margin-bottom:40px;
}

#GH-collection a {
color:#6e6e6e;
}

#next,#prev {
position:absolute;
top:38%;
}

#next {
left:2%;
}

#prev {
right:2%;
}

#next a,#prev a {
color:#ededed;
}

#GH-collection p {
margin:10px 0;
}

#GH-collection p strong {
font-weight:400;
font-family:brandon_grotesquebold;
}

#GH-collection li {
color:#6e6e6e;
padding:0 8px;
}

#GH-collection li:hover a,#next:hover a,#prev:hover a {
color:#424B52;
}

.thumb-container {
background:NONE;
border:solid 1px #e3e3e3;
border-radius:4px;
}

.thumb-container img {
border-radius:4px;
margin:auto;
}

#video-box-details {
background:#000;
color:#fff;
display:table-cell;
float:none;
vertical-align:middle;
padding:35px;
}

#video-container {
background-color:#000;
}

#click-box {
min-height:445px;
background:url(video-img.jpg) center center no-repeat;
background-size:cover;
opacity:0.6;
transition:all 1s;
}

#video-box a {
display:block;
width:100%;
}

#video-box:hover {
cursor:pointer;
}

.feature-title {
background:url(title-line.jpg) repeat-x center center;
margin:70px 0 50px;
}

.feature-title h2 {
background:#fff;
display:inline;
color:#6e6e6e;
font-size:21px;
text-transform:uppercase;
padding:0 20px;
}

#video-box-details h2 {
font-size:40px;
font-family:brandon_grotesquebold;
letter-spacing:.1em;
margin:0;
}

#video-box-details p {
line-height:30px;
font-size:20px;
font-family:brandon_grotesquemedium;
letter-spacing:.1em;
}

#video-box-details p a:hover {
opacity:0.5;
}

#video-box-details p span {
font-size:10px;
}

.line-small {
height:1px;
width:60px;
background:#5a5a5a;
margin:30px 0;
}

footer {
position:relative;
margin-top:-10px;
}

.inst-title {
height:100px;
background:#000 url(instagram-logo.png) no-repeat center center;
}

#footer {
background:#000;
color:#fff;
margin:0;
padding:68px 0 58px;
}

#footer ul li,#footer h3,#footer p {
font-size:.85em;
text-transform:uppercase;
padding:5px 0;
}

#footer h3 {
font-family:brandon_grotesquebold;
}

#footer .col-md-3:first-child {
padding-left:15px;
}

#footer .col-md-3:last-child {
padding-right:15px;
}

#footer-nav em {
font-size:11px;
text-align:right;
line-height:18px!important;
padding-top:8px!important;
display:block;
}

#footer ul li a,#footer p,#footer ul li {
color:#d9d9d9;
line-height:1.5em;
}

#social-icons i,#social-icons a i {
font-size:20px;
color:#fff;
margin-right:5px;
transition:all .4s;
}

#social-icons {
text-align:right;
}

#social-icons a {
padding:0 7px;
}

#social-icons a:hover i {
opacity:0.9;
color:#fff;
}

.input-group-addon {
background-color:transparent;
border:0;
border-right:6px;
margin:0;
padding:0;
}

.btn {
text-transform:uppercase;
}

.btn-go {
background:#4f4f4f;
color:#fff;
font-size:.85em;
font-family:brandon_grotesquebold;
border-right:6px;
transition:all .4s;
padding:.55em 14px;
}

.btn-go:hover {
background:#2d2d2d;
opacity:0.9;
color:#fff;
}

#email-box {
background:#2d2d2d;
color:#d9d9d9;
font-size:.7em;
font-family:brandon_grotesquebold;
border:0;
-webkit-border-top-left-radius:6px;
-webkit-border-bottom-left-radius:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-bottomleft:6px;
border-top-left-radius:6px;
border-bottom-left-radius:6px;
width:100%;
}

#email-box.form-control {
border-radius:0!important;
}

.footer-nav .btn {
width:100%;
border-radius:0;
background:transparent;
border:solid 2px #2d2d2d;
}

.form-control::-moz-placeholder {
color:#4f4f4f!important;
opacity:1;
}

#form-email {
margin:4px 0 0;
}

#quick-links {
background:#1c1c1c;
height:116px;
width:100%;
display:table;
text-transform:uppercase;
}

#footer-logo,#footer-nav {
display:table-cell;
float:none;
vertical-align:middle;
height:116px;
text-align:right;
}

#footer-nav a {
color:#939393;
}

#footer-nav li a {
font-family:brandon_grotesquebold;
padding:0 8px;
}

#footer-nav li {
transition:all .4s;
}

#footer-nav li,#footer-nav p {
font-size:12px;
}

#footer-nav p {
font-size:12px;
text-align:right;
line-height:3em;
}

#mob-menu {
background:#000;
color:#fff;
display:none;
}

li.dropdown:hover,li.dropdown:hover a {
background:#fff;
color:#222;
}

.content {
position:relative;
z-index:998;
}

li.dropdown:hover > a {
color:#222!important;
}

.search-wrap {
opacity:0;
transition:all 1s;
}

.search-input {
height:40px;
text-align:center;
background:#fff;
color:#000;
}

.navbar-default .navbar-toggle .icon-bar {
color:#ccc;
background-color:#ccc;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
background-color:transparent;
}

#slide-menu {
float:left;
position:fixed;
width:70%;
background:#fff;
left:-70%;
z-index:99999;
height:100%;
display:block;
border:solid 1px #d9d9d9;
padding:12px 0 30px;
}

#slide-menu li a {
display:block;
color:#a0a0a0;
}

#close-the-mobnav {
transition:all .3s;
cursor:pointer;
font-size:1.1em;
color:#ee4b1f;
display:none;
}

#slide-menu li {
font-family:brandon_grotesquebold;
text-transform:uppercase;
background:#efefef;
color:#a0a0a0;
font-size:.8em;
border-radius:1px;
line-height:25px;
margin:10px;
padding:0 10px;
}

.extra-dropdown {
background:#fff;
margin-left:14px;
margin-right:7px;
}

#mob-expand-button {
transition:all .3s;
color:#ccc;
font-size:1.1em;
cursor:pointer;
}

.extra-dropdown li {
background:#fff!important;
border-bottom:1px solid #efefef;
}

.extra-dropdown li a {
color:#6b6b6b!important;
}

#wrapper {
position:relative;
left:0;
z-index:999;
}

.item-count-mob {
position:absolute;
right:30%;
background:#fff;
color:#000;
border-radius:50%;
top:-12px;
font-size:12px;
font-weight:700;
}

.new-menu-wrapper {
min-width:300px;
}

.menu-image-container {
float:left;
width:auto;
height:100%;
background:#fff;
}

.menu-container li {
font-size:.9em;
width:285px;
border-bottom:#efefef solid 1px;
line-height:30px;
text-transform:uppercase;
color:#6b6b6b;
}

.menu-container li a {
color:#6b6b6b;
display:block;
}

.dropdown {
border:solid 1px #fff;
border-bottom:0;
}

.dropdown:hover {
border:solid 1px #d7d7d7;
border-bottom:0;
}

.navbar-nav > li,.navbar-nav > li a {
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
}

.ghyou-thumb {
min-height:100px;
min-width:100px;
background:#EBEBEB;
}

.navbar-right .dropdown-menu {
padding:15px;
}

ul.dropdown-menu {
z-index:-1!important;
background:#fff;
}

.navbar-nav > li > .dropdown-menu {
z-index:999;
}

.collection-header {
background:#a0a0a0;
display:table;
width:100%;
text-align:center;
vertical-align:middle;
}

.collection-header h1 {
height:230px;
font-size:3em;
vertical-align:middle;
display:table-cell;
color:#6e6e6e;
font-family:brandon_grotesqueblack;
margin:auto;
}

.collection-title {
background:#fff;
color:#000;
display:table;
width:100%;
margin:18px 0;
padding:0;
}

.collection-title h2 {
text-transform:uppercase;
font-family:brandon_grotesquebold;
height:59px;
font-size:1.7em;
display:table-cell;
vertical-align:middle;
float:none;
margin:0;
}

.collection-Subtitle {
transition:all .3s;
background:#f9f9f9;
display:table;
width:100%;
border-bottom:solid 2px #999;
padding:0 15px;
}

.collection-Subtitle h3 {
transition:all .3s;
text-transform:uppercase;
font-family:brandon_grotesquebold;
font-size:1.1em;
color:#222;
height:36px;
display:table-cell;
vertical-align:middle;
float:none;
}

.view-all {
transition:all .3s;
float:right;
display:block;
font-family:brandon_grotesquebold;
text-transform:uppercase;
color:#fff;
background:#000;
font-size:.8em;
margin:10px 0;
padding:0 10px;
}

.product-container .img-responsive {
border:solid 1px #f6f6f6;
margin:15px 0;
}

.collection-Subtitle a {
display:table;
width:100%;
}

#pos-right {
display:block;
float:right;
position:absolute;
right:11%;
width:306px;
bottom:117px;
}

#pos-right #button-men,#pos-right #button-women {
position:absolute;
bottom:0;
font-family:brandon_grotesquebold;
background:#434446!important;
color:#f3f3f3!important;
transition:all .3s;
margin:0;
}

#pos-right .button {
width:130px;
height:40px;
line-height:40px;
}

#pos-right #button-men:hover,#pos-right #button-women:hover {
background:#fff!important;
color:#434446!important;
}

.title-tag {
padding-top:3px;
font-size:14px;
float:left;
width:7%;
font-family:brandon_grotesquebold;
color:#000;
text-transform:uppercase;
}

.product-tags {
float:left;
width:86%;
}

.product-tags li {
display:inline-block;
font-family:brandon_grotesquebold;
text-transform:uppercase;
}

.product-tags li a {
color:#6a6a6a;
font-size:14px;
}

.product-tags em {
padding:0 3px 0 2px;
}

#about-header {
background:#000;
text-transform:uppercase;
padding:50px 0;
}

#page-header-text h2 {
color:#cacaca;
font-family:brandon_grotesquebold;
font-size:60px;
}

#page-header-text h3 {
color:#fff;
font-family:brandon_grotesquebold;
font-size:120px;
font-style:italic;
}

#about-content {
background:#f2f2f2;
}

#product-area .details,.quick-shop-content .details {
width:48%;
float:right;
padding:0 0 0 15px;
}

#product-area .details .header .title,.quick-shop-content .details .header .title {
font-family:brandon_grotesquemedium;
text-transform:uppercase;
color:#666;
}

#product-area .details .options .selector-wrapper label,.quick-shop-content .details .options .selector-wrapper label {
text-align:left;
text-transform:uppercase;
}

.action-button {
background:#c21313;
transition:.3s;
}

#product-area .details .header,.quick-shop-content .details .header {
padding-bottom:0;
}

.related-product-title {
background:#efefef;
color:#6a6a6a;
border:0;
}

.section-title {
color:#6a6a6a;
font-family:brandon_grotesque_regularRg;
margin:90px 0 50px;
padding:30px 0;
}

.product-title {
font-family:Raleway,sans-serif;
color:#555;
text-align:center;
font-size:.8em;
font-weight:700;
margin:25px 0;
padding:0 10px;
}

.product-title a {
color:#555;
}

#inner-related a.with-border {
box-shadow:none!important;
}

.module label {
text-transform:uppercase;
font-size:14px;
font-family:brandon_grotesque_regularRg;
}

#product-area .details .options .field,.quick-shop-content .details .options .field {
background:#efefef;
}

.selector-wrapper.quantity label {
display:block!important;
float:left!important;
line-height:36px!important;
}

.pagi {
position:absolute;
width:100%;
top:46%;
z-index:999;
opacity:0;
transition:all .4s;
}

.pagi a {
color:#fff;
text-shadow:1px 1px 4px #000;
transition:all .4s;
font-size:30px;
padding:0;
}

.pagi a.pull-left:hover {
padding-left:30px;
}

.pagi a.pull-right:hover {
padding-right:30px;
}

#social-icons-product a {
color:#000;
padding:0 2px;
}

.embed-responsive.embed-responsive-4by3 {
padding-bottom:60%;
}

#landing-header-bg {
background:url(good-Fitness-Landing-bg1.jpg) repeat center center;
text-align:center;
}

#header-landing {
position:relative;
width:100%;
height:500px;
background:url(good-Fitness-Landing.jpg) no-repeat center top;
}

#pagi-nav span {
display:inline-block;
}

#pagi-nav span.page {
width:25px;
height:25px;
border:1px solid #D7D7D7;
color:#272731;
text-align:center;
font-size:12px;
line-height:25px;
transition:all .4s;
}

#pagi-nav span a {
color:#272731;
display:block;
transition:all .4s;
}

#pagi-nav .prev,#pagi-nav .next {
font-size:12px;
padding:0 5px;
}

#pagi-nav span.page.current,#pagi-nav span.page:hover {
background:red;
color:#fff;
border-color:#d24146;
}

#pagi-nav .prev:hover a,#pagi-nav .next:hover a {
color:#ccc;
}

#landing-header .container {
max-width:1600px;
}

#landing-video {
width:625px;
height:500px;
float:none;
vertical-align:middle;
display:table-cell;
}

#landing-video h1 {
color:#fff;
font-size:26px;
font-weight:700;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#video-holder {
cursor:pointer;
margin:auto;
}

#mc_embed_signup {
background:transparent!important;
}

nav#cart-items li:last-child,.navbar-default .navbar-nav > li:last-child > a,#footer-nav li:last-child a {
padding-right:0;
}

nav#cart-items li a,.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus,#header-button .button:hover,#video-box-details p a,#footer a,#footer ul li:hover a,#footer-nav li:hover a,.collection-Subtitle:hover h3,#pagi-nav span:hover a {
color:#fff;
}

.navbar-header,.nav {
display:table;
}

.navbar-brand,.col-sm-8,.col-sm-4,#product-area .showcase,.quick-shop-content .showcase,.template-collection .product-list {
padding:0;
}

.dropdown-menu > li:first-child > a,#product-area .details .options,#product-area .details .description,.quick-shop-content .details .options,.quick-shop-content .details .description,.section-border,.page-title {
border:0;
}

#the-slider ul,.pager,.rte {
margin:0;
}

#the-slider,ul#GH-collection {
position:relative;
}

#collections .img-responsive,#the-slider .img-responsive,.form-inline .form-group,.form-inline .input-group,.tags-wrap {
width:100%;
}

#collections,#show-video,.ghyou-thumb img,.product-tags em:last-child,.selector-wrapper label,.pxuSexyDropWrapper,#main-video {
display:none;
}

.overlay-collection a,.dropdown:hover .dropdown-menu,.desk-view {
display:block;
}

.overlay-collection:hover .collection-text,#click-box:hover {
opacity:1;
}

#instagram,.collection-Subtitle:hover,.action-button:hover {
background:#000;
}

.form-control:-ms-input-placeholder,.form-control::-webkit-input-placeholder {
color:#4f4f4f!important;
}

.menu-container,#pagi-nav {
float:right;
}

.view-all:hover,.collection-Subtitle:hover .view-all {
color:#000;
background:#fff;
}

.selector-wrapper label,#product-select,.mob-view {
display:none!important;
}

@mediamax-width992px{
.collection-text {
opacity:1;
}

.snapwidget-widget {
height:auto!important;
}

#footer .col-md-3 {
float:none!important;
text-align:center;
margin:0 auto!important;
padding:0 15px;
}

#footer-logo,#footer-nav {
display:block;
height:auto;
text-align:center;
padding:20px 0;
}

#footer-logo img {
margin:auto;
}

#quick-links .col-md-9 .pull-right,#footer-nav p {
float:none;
width:100%;
text-align:center!important;
}

.navbar-header {
clear:both;
float:none;
display:block;
width:100%;
text-align:center;
margin:auto;
}

.navbar-brand {
text-align:center;
display:block!important;
height:60px;
margin:auto;
padding:20px 0;
}

.navbar-brand img {
float:none;
margin:auto;
}

.nav {
width:100%;
text-align:center;
display:block;
float:none!important;
}

.navbar-nav > li {
display:inline-block;
float:none;
}

.navbar-default .navbar-nav > li > a {
height:35px;
}

#tag-sidebar {
text-align:center;
float:none;
margin:auto 0 15px auto;
}

.content-area {
width:100%;
}

.navbar-default .navbar-nav > li,.navbar-header .navbar-brand {
height:auto;
}
}

@media min-width 469px and max-width 768px{
.collection-text h3,.bigfont,.collection-text span,.smallfont {
font-size:1.5em!important;
}

.collection-text .shop-now {
font-size:.7em;
}

.collection-text .btn {
padding:3px 6px;
}

header {
background:url(header-bg.jpg);
background-color:transparent;
}
}

@mediamax-width768px{
.collection-text:hover .shop-now {
display:inline-block!important;
}

#footer .col-md-3 {
float:none!important;
text-align:center;
margin:0 auto!important;
padding:0 15px;
}

#footer-logo,#footer-nav {
display:block;
height:auto;
text-align:center;
padding:20px 0;
}

#quick-links .col-md-9 .pull-right,#footer-nav p {
float:none;
width:100%;
text-align:center!important;
}

#top-bar p,nav#cart-items ul {
text-align:center!important;
width:100%;
display:block;
height:auto;
margin:0;
padding:10px 0;
}

#cart-items {
float:none!important;
display:none;
}

nav#cart-items li {
height:auto;
display:inline-block;
float:none;
padding:0 15px;
}

#header-button .button {
background:#262626;
color:#fff;
margin-top:55%;
width:100px;
line-height:30px;
height:30px;
font-size:.7em;
}

#collections .col-sm-4 img {
text-align:center;
float:none;
margin:auto;
}

#mob-menu {
display:block!important;
text-align:center;
font-size:20px;
width:100%!important;
padding:10px;
}

.navbar-nav > li {
display:block;
padding:5px 0;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
padding:10px 20px;
}

.navbar-header {
margin:0!important;
}

#mob-menu .col-xs-3 em a {
display:block;
}

#mob-menu .col-xs-3 {
border:solid 1px #ccc;
display:block;
padding-top:7px;
padding-bottom:5px;
}

#mob-menu .col-xs-4 em a {
display:block;
color:#ccc;
}

#mob-menu .col-xs-4 {
border:solid 1px #ccc;
border-bottom:0;
border-left:0;
display:block;
padding-top:7px;
padding-bottom:5px;
}

#mob-menu .col-xs-4:first-child {
border-left:solid 1px #ccc;
}

#bs-example-navbar-collapse-1 {
background:#fff;
color:#222;
}

.navbar-default .navbar-toggle {
border:0;
float:none;
margin:0;
padding:2px 0;
}

#mob-menu a,#mob-menu a,#mob-expand-button {
color:#fff;
}

#cart-form table {
clear:both!important;
}

#top-bar .container,#top-bar .row {
margin:0;
padding:0;
}

p.free-shiping-text,#top-bar p {
font-size:.7em;
}

.shop-now,.navbar-brand {
display:none!important;
}

#footer-logo img,.mob-logo img {
margin:auto;
}

#mob-menu .col-xs-3 em,https://goodhyouman.myshopify.com/admin/themes/6755525?key=assets/home-page.css#
#mob-menu .col-xs-4 em {
float:none;
font-size:1.1em;
margin:8px 0;
padding:4px 0;
}

.nav,header .row,#top-bar .row {
margin:0;
}

#hideon-mob,.navbar-default {
display:none;
}
}

@mediamax-width500px{
#header-button .button {
width:80px;
line-height:20px;
height:20px;
font-size:.6em;
}
}

@mediamax-width469px{
#collections .col-xs-4 {
width:100%;
}

.template-collection .product-list.two .product {
width:50%;
}
}

@mediamax-width1161px{
#pos-right {
bottom:30px;
right:0;
}
}

@mediamax-width725px{
#pos-right .button {
height:31px;
line-height:31px;
width:73px;
}

#pos-right {
width:186px;
right:0;
}
}

@mediamax-width466px{
#pos-right {
bottom:10px;
width:130px;
}

#pos-right .button {
height:25px;
line-height:25px;
width:49px;
}
}

@mediamax-width1400px{
#header-landing {
background:url(good-Fitness-Landing.jpg) no-repeat right top;
}

#landing-header .container {
max-width:100%;
width:100%;
}

#video-pos {
padding-right:80px;
}
}

@mediamin-width767px{
#main-video iframe {
width:622px;
height:350px;
margin:0;
padding:0;
}
}

@mediamax-width767px{
#video-pos {
padding-right:0;
float:none!important;
margin:auto;
}

#landing-video {
display:inline-block;
width:100%;
height:auto;
margin:auto;
}

#header-landing {
height:auto;
clear:both;
padding:30px 0;
}
}

@mediamax-width719px{
#product-area .details,.quick-shop-content .details {
width:auto;
float:none;
padding:15px;
}

.product {
width:50%;
}

.input-group-addon,.input-group-btn {
width:50px;
}
}

@mediamax-width400px{
.product {
width:100%;
}
}

@media max-width640px{
.desk-view {
display:none!important;
}

.mob-view {
display:block!important;
}
}

@mediamax-width1199px{
.navbar-brand .img-responsive {
max-width:230px;
}

.navbar-default .navbar-nav > li {
padding:0 8px;
}
}
